VITE_API_URL=http://localhost:5000/api
VITE_PREVIEW_URL=http://localhost:5000/preview
VITE_GOOGLE_CLIENT_ID=
VITE_APP_NAME=DesignCheck AI
VITE_CANDIDATE_NAME=YOUR_NAME
VITE_GITHUB_URL=YOUR_GITHUB_URL
VITE_LINKEDIN_URL=YOUR_LINKEDIN_URL
