VITE_API_URL=https://designcheck-ai-backend.onrender.com/api
VITE_PREVIEW_URL=https://designcheck-ai-backend.onrender.com/preview
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_APP_NAME=DesignCheck AI
VITE_CANDIDATE_NAME=Priyanka Samiappan
VITE_GITHUB_URL=https://github.com/Priyanka03s
VITE_LINKEDIN_URL=https://www.linkedin.com/in/priyanka1703/
